
<%- include('templates/head') %>   
    
<header id="cabecera">
  <h1>TIBURONES</h1>
</header>

 <main>

    <div id="inicioImg"></div>

   <h2>ORDENES</h2>
    <div id="listCont">
         <nav>
           <ul>
             <li><a class="ordenes" href="/carcharhiniformes/listar">CARCHARHINIFORMES</a></li> 
             <li><a class="ordenes" href="/heterodontiformes/listar">HETERODONTIFORMES</a></li>
             <li><a class="ordenes" href="/hexanquiformes/listar">HEXANQUIFORMES</a></li>
             <li><a class="ordenes" href="/lamniformes/listar">LAMNIFORMES</a></li> 
             <li><a class="ordenes" href="/orectolobiformes/listar">ORECTOLOBIFORMES</a></li>
             <li><a class="ordenes" href="/pristiophoriformes/listar">PRISTIOPHORIFORMES</a></li>
             <li><a class="ordenes" href="/squatiniformes/listar">SQUATINIFORMES</a></li>
             <li><a class="ordenes" href="/instrucciones">INSTRUCCIONES</a></li>
           </ul>
         </nav>
     </div>

   </main>



   
  
   
   
   
   
   
   
   
   
   
<%- include('templates/footer') %>



